.single-installment {
    border: 2px solid #ccc;
  
    text-align: center;
  
    max-height: 180px;
  
    margin-right: 5px;
  
    margin-top: 10px;
  
    position: relative;
  
    float: left;
  
    height: 160px;
  
    min-width: 130px;
  
    line-height: 1.5rem;
  
    padding: 5px 15px;
  
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .single-installment div {
    width: 100%;
  
    float: left;
  }
  
  .single-installment .qnb_heading {
    font-weight: 600;
  
    color: #777777;
  }
  
  .single-installment .qnb_amount {
    color: #333333;
  
    font-weight: bolder;
  }
  
  .single-installment .qnb_installment_number {
    padding-bottom: 0px !important;
  
    padding-left: 10px;
  
    font-size: inherit !important;
  }
  
  .single-installment .qnb_total_amount {
    font-weight: 500;
  
    margin: 5px;
  
    color: #800;
  }
  
  .single-installment.active {
    border: 2px solid green;
  }
  
  .recurring_block {
    margin: 10px 0;
  }
  
  .recurring_option_fields input,
  .recurring_option_fields select {
    height: 40px;
  
    padding: 8px;
  }
  
  .woocommerce table.form-table textarea#woocommerce_qnb_payment_description {
    width: 400px;
  }
  
  #woocommerce_qnb_payment_webhook_url,
  #woocommerce_qnb_payment_sale_webhook_url {
    display: none;
  }
  
  .wc_payment_method .payment_method_qnb_payment {
    background-color: #ffffff;
  }
  #expiry_month,
  #expiry_year {
    height: 36px;
    width: 48%;
    padding: 0 !important;
  }
  
  .wc_payment_method.payment_method_QNBPay_sanalpos {
    background-image: url(https://www.qnbpay.com.tr/_assets/img/pay-logo.png) !important;
    background-repeat: no-repeat;
    background-size: 69px;
    background-position-x: calc(100% - 10px);
    background-position-y: 8px;
  }
  